# This file specifies files that are *not* uploaded to Cloud Run
# when using `gcloud run deploy` and similar commands.

# Files ignored by the `git` VCS
.git/
.gitignore
.gitattributes

# Files ignored by the `hg` VCS
.hgignore
.hg/

# User-local asdf version manager
.asdf/

# Miscellaneous
.DS_Store

# Python pycache:
__pycache__/

# Partially stashed files
.stash

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/

# IDE
.vscode
.idea
*.swp
*.swo
*~

# Node.js
node_modules/
npm-debug.log
package-lock.json

# dist
dist/
build/
coverage/
