.mapContainer {
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}

.mapContainer :global(.ol-viewport) {
  background: #d9ebff;
}

:global(.dark-mode) .mapContainer :global(.ol-viewport) {
  background: #2d3748;
}

.mapContainer :global(.ol-attribution) {
  display: none;
}

.mapContainer :global(.ol-zoom) {
  display: none;
}
