.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: var(--color-bg);
}

:global(.dark-mode) .layout {
  background-color: #1b1f3b;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}


