.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-bg);
}

:global(.dark-mode) .layout {
  background-color: #1b1f3b;
}

.main {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  overflow: visible;
}


